@font-face {
  font-family: roboto;
  src: url(../fonts/roboto.ttf);
}

@font-face {
  font-family: louis;
  src: url(../fonts/louis.ttf);
}

  @font-face {
  font-family: oran;
  src: url(../fonts/oran.ttf);
}

body {
	background-image: url('../images/background.png');
}

#header {
	position: fixed;
	width: 4.5%;
	height: 6.5%;
	background-color: #FF7E00;
	margin-top: -0.6%;
	margin-left: -0.6%;
	transition: width 0.5s;
}

#backgroundHeader {
	background-color: #fff8f7;
	height: 5.2%;
	width: 100%;
	position: fixed;
	margin-top: -0.6%;
	margin-left: -0.6%;
	z-index: 1;


}

h2 {
	font-family: roboto;
	font-size: 140%;
	position: fixed;
 	top:-2.5%;
 	margin-left: 0.2%;
}

 #home { 
 	left:15%;

 }

 #home:hover {
 		color: #FF7E00;
 }

 #photos {
 	left: 31%;
 	transition: color 0.3s;
 }

#photos:hover {
	color: #FF7E00;
}

 #poems {
 	left: 45%;
 	transition: color 0.3s;
 	color: #FF7E00;
 }

 #film {
 	left: 60%;
 	transition: color 0.3s;
 }

 #film:hover {
	color: #FF7E00;
 }

 #contact {
 	margin-top: -0.0%;
 	margin-left: 71%;
 	font-family: roboto;
 	font-size: 150%;
 	transition: color 0.3s;	
 }

 #contact:hover {
 	color: #FF7E00;
 }

#profile {
	width: 20%;
	height: 25%;
	position: fixed;
	margin-left: 6%;
	transition: margin-top 1s;
	margin-top: -50%;
	z-index: 5;
	border-radius: 5px;
	border: solid 1px;
	-webkit-box-shadow: 2px 3px 27px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 27px -3px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 27px -3px rgba(0,0,0,0.75);
}

#line {
	height: 15%;
	width: 1px;
	background-color: black;
	margin-left: 30%;
	z-index: 5;
	transition: margin-top 1s;
	margin-top: -50%;
	position: fixed;
}

#about {
	position: fixed;
	width: 30%;
	font-size: 125%;
	z-index: 5;
	font-family: louis;
	margin-left: 35%;
	margin-top: -110%;
	transition: margin-top 1s;
}

#container {
	position: absolute;
	width: 104.45%;
	height: 44.5%;
	margin-top:1.75%;
	margin-left: -5%;
	background-color: white;
	border-top: solid black 1px	;
	z-index: -1
}

#cross {
	position: fixed;
	width: 4%;
	z-index: 5;
	margin-top: -5%;
	margin-left: 95%;
	transition: margin-top 1s;
	z-index: 10;
	cursor: pointer;
}

#click {
	position: fixed;
	height: 5.2%;
	width: 3.9%;
	margin-top: -0.6%;
	margin-left: -0.6%;
	z-index: 10;
	cursor: pointer;
}

#banner {
	position: absolute;
	margin-left: 4.1%;
	margin-top: 0.9%;
	width: 95.9%;
	height: 94.9%;
	border-bottom: solid 2px black;
	-webkit-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.75);
}

a { color: black;
	text-decoration: none;
 }

article {
	background-color: white;
 	border: solid 0.5px;
 	border-radius: 2px;
 	box-shadow: 1px 1px grey;
 	border-color: black;
 	opacity: 80%;
 	transition: transform .2s ease-in-out;
 	margin-top: -20%;
 	margin-left: 40%;
 	position: absolute;
 	text-align: center;
 	font-family: oran;
 	align-items: center;
 	font-size: 140%;
	font-weight: bold;
}


#desc-1 {
	width: 20%;
	height: 10%;
	
}

#photo1 { 
	width: 30%;
	margin-top: 30%;
	margin-left: 7%;
	
 }

 #photo2 {
 	position: absolute;
 	width: 29.55%;
 	margin-top: 53%;
 	margin-left: -29.6%;
 }

#desc-2 {
	position: absolute;
	margin-top: 3.5%;
	width: 20%;
	height: 10%
}

h1 {
	font-family: oran;
	margin-left: 2.5%;
	font-size: 160%;
	font-weight: normal;
}

article {
 	background-color: white;
 	border: solid 0.5px;
 	border-radius: 2px;
 	box-shadow: 1px 1px grey;
 	border-color: black;
 	opacity: 80%;
 	margin-top: 26%;
 	z-index: -2;
 	text-align: left;
 	padding: 2%;
 	position: absolute;
 		margin-left: 3%;

 }


#pm1 {

	width: 30%;
	height: 35%
}

#pm2 {
	margin-top: 50%	;
}
#pm3 {
	margin-left: 54%;
	margin-top: 74%;
}

#pm4 {
	margin-top: 74%;
}
